<p id="notice"><%= notice %></p>

<h1>Levels</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @levels.each do |level| %>
      <tr>
        <td><%= link_to level.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Level', new_level_path, class: 'btn btn-primary' %> <%= link_to 'Show Books', books_path %>

